body{
    font-size: 1rem;
    background-color:rgb(185, 212, 247);
}
#proyecto .principal {
    height: 20vw;
    margin: 10px;
}
.principal h2{
    border-bottom: 2px solid blue;
}
.principal{
    display: flex;
}
.imgProyecto{
    height: 100%;
    width: 20vw;
    background-image: url(./../img/imgProyectoAux.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#perfil{
    height: 18vw;
    width: 18vw;
    margin: auto;
}
#perfil img {
    height: 100%;
    width: 100%;
    align-self: auto;
    border-radius: 50%
}
#perfilP{
    margin-top:10px;
    width: 300px;
    height: 50vh;
    display: block;
}
main{
    display:flex;
}
#proyecto{
    width: 800px;
}
#nombre{
    text-align: center;
}
.descripcion{
    flex-grow: 1;
}
header nav{
    display: inline;
}
header{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: black;
    border: rgb(52, 118, 139) solid 2px;
    padding: 2px;
    border-radius: 10%;
}
nav a:hover{
    background-color: rgb(52, 118, 139);
}
.principal{
    background-color: rgb(52, 118, 139);
}
#nombre{
    margin-bottom: 2px;
}