@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    #perfilP{
        width: 90vw;
        height: 35vw;;
        display: inline;
    }
    main{
        display: block;
    }
    #proyecto{
        width: 90vw;
        margin: auto;
    }
    .principal h2{
        font-size: 0.8rem;
    }
    .principal p{
        font-size: 0.8rem;
    }
    #perfil{
        height: 23vw;
        width: 23vw;
    }
    #imgProyecto1{
        background-image: url(../img/imgTateti.png);
    }
    .imgProyecto{
        height: 30vw;
        width: 30vw;
        background-image: url(./../img/imgProyectoAux.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 1vw;
    }
    #proyecto .principal {
        height: 25vw;
        margin: 10px;
    }
  }