body{
    font-size: 1rem;
}
#proyecto .principal {
    height: 20vw;;
    border: 2px solid red;
    margin: 10px;
}
.principal h2{
    border-bottom: 2px solid red;
}
.principal{
    display: flex;
}
#perfil{
    height: 20vw;
    width: 20vw;
    margin: auto;
}
#perfil img {
    height: 100%;
    width: 100%;
    align-self: auto;
}
#perfilP{
    width: 300px;
    height: 800px;
    display: block;
}
main{
    display:flex;
}
#proyecto{
    width: 800px;
}
#nombre{
    text-align: center;
}
.descripcion{
    flex-grow: 1;
}
header nav{
    display: inline;
}
header{
    text-align: center;
}